@{
    ViewBag.Title = "الاصناف";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    .posation_overflow {
        position: absolute;
        left: -79px;
    }

    .style_pading_lepel {
        padding-top: 10px;
        /*padding: 10px 12px 0 0;*/
    }

    .style_pading_lepel2 {
        /*padding-top: 10px;*/
        padding: 10px 30px 0 0;
    }

    .pading_ {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .pad_ {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .inner tr td {
        border-top: none !important;
    }

    .btn-info {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
    }

    .fontitm3 {
        float: right;
        margin: 5px -2% 0px 0px !important;
        font-size: 25px !important;
        position: absolute;
    }

    .style_pading {
        padding-left: 1px;
        padding-right: 1px;
    }

    .table_11 tr td:nth-child(3) {
        width: 200px;
    }

    .table_11 tr th:nth-child(12), .table_11 tr td:nth-child(12) {
        width: 120px;
    }

    .table_11 {
        margin-bottom: 0px;
    }

    .auto-style1 {
        background-color: #F5F5F5;
    }

    .display_none {
        display: none !important;
    }

    #btnAddDetails {
        font-size: 40px;
    }

        #btnAddDetails:hover {
            color: #24b414;
        }

    .glyphicon-remove-sign:hover {
        color: red
    }

    .minus_btn {
    }

    .font_codenumber {
        font-size: 19px;
        font-weight: bold;
    }

    .style_border {
        border-top: solid 1px;
        padding: 10px 0px 4px 0px;
    }
    .panel-body {
        background-color: aliceblue;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading panel_me">
        <i class="glyphicon glyphicon-pencil icon_panel"></i><label class="span_item">الفئات</label><label class="span_item"></label>
    </div>
    <div class="panel-body" id="div_ContentData">
        <div class="row">
            <div class="col-lg-12">

                <div class="col-lg-1 pad_">
                    <label class=" style_pading_lepel2 ">نوع الفئة</label>
                </div>
                <div class="col-lg-3">
                    <select id="drbfamilly_cat" class="form-control">
                        <option value="Null">اختر نوع الفئة</option>
                    </select>
                </div>
                

                <div class="col-lg-1 pad_">
                    <label class=" style_pading_lepel2  ">الفئة</label>
                </div>
                <div class="col-lg-3">
                    <select id="drpPaymentType" disabled class="form-control">
                        <option value="Null">اختر الفئة</option>
                    </select>
                </div>
                <div class="col-lg-1">

                </div>

                <div class="col-lg-2">
                    <button type="button" class="btn btn-warning display_none" id="btnback">
                        <span class="glyphicon glyphicon-backward">رجوع</span>
                    </button>

                    <button id="btnsave" type="button" class="btn btn-success display_none">
                        <span class="glyphicon glyphicon-save">حفظ</span>
                    </button>

                    <button type="button" class="btn btn-primary" id="btnedite">
                        <span class="glyphicon glyphicon-edit">تعديل</span>
                    </button>
                </div>




            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

              

                <div class="col-lg-12">
                    <div class="col-lg-12" id="div_Data_devolte" style=" ">
                        <div class="col-lg-2" style="margin-right: 4%;width: 14%;"><label class=" style_pading_lepel ">الرمز</label></div>
                        <div class="col-lg-2" style="width: 20%;"><label class=" style_pading_lepel">الوصف عربي</label></div>
                        <div class="col-lg-2" style="width: 14%;"><label class="style_pading_lepel">الفئة</label></div>
                        <div class="col-lg-1" style=" "><label class="  style_pading_lepel2   "> السعر البيع</label></div>
                        <div class="col-lg-1" style="width: 13%;"><label class="  style_pading_lepel2   ">اقل سعر</label></div>
                        <div class="col-lg-1" style="width: 6%;"><label class="  style_pading_lepel display_none">الكمية المتاحة</label></div>
                        <div class="col-lg-1" style=" "><label class="  style_pading_lepel2  display_none"> سعر الشراء</label></div>
                        <div class="col-lg-1 "><label class=" style_pading_lepel  display_none ">كود الصنف</label></div>


                    </div>
                    <div class="  " id="div_Data" style="margin-right: 1%;">

                    </div>
                    <span id="btnAddDetails" class="glyphicon glyphicon-plus-sign  display_none"></span>

                </div>

            </div>

        </div>








    </div>
</div>


    @Scripts.Render("~/Bundles/ClientApp")
    @*<script src="~/ClientApp/JsGrid.js"></script>*@
<script src="~/ClientApp/stock/Items.js"></script>
