@{
    ViewBag.Title = "HomeIndex";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="container">
    <div class="row-rrow">
        <div class="col-sm-4"></div>
        @*<div class="clo-sm-4">
  
            <img src="~/Style_design/img/619.png" style="margin-right: -130px;"/>
        </div>*@
        <div class="clo-sm-4"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="clo-sm-4"></div>
        <div class="clo-sm-4"></div>
    </div>
</div>